mqtt:
    endpoint: "*************-ats.iot.eu-central-1.amazonaws.com"
    port: 8883
    clientId: "udp-mqtt-bridge"
    certFile: "certs/cert.pem"
    keyFile: "certs/private.key"
    protocol: "ssl"
    rootCaFile: "certs/AmazonRootCA1.pem"
    topics:
        in: "topic/in"
        out: "topic/out"
udp:
    in:
        ip: "0.0.0.0"
        port: 5000
    out:
        ip: "255.255.255.255"
        port: 6000
