awsClientId: "udp-mqtt-bridge"
awsIotCert: "certs/cert.pem"
awsIotEndpoint: "*************-ats.iot.eu-central-1.amazonaws.com"
awsIotKey: "certs/private.key"
awsIotPort: 8883
awsIotProtocol: "ssl"
awsIotRootCA: "certs/AmazonRootCA1.pem"
mqttTopicIn: "topic/in"
mqttTopicOut: "topic/out"
udpIpIn: "0.0.0.0"
udpIpOut: "255.255.255.255"
udpPortIn: 5000
udpPortOut: 5000
