log_level: INFO # ERROR | INFO | DEBUG | TRACE 
mqtt:
    ca_file: "certs/AmazonRootCA1.pem"
    cert_file: "certs/cert.pem"
    client_id: "udp-mqtt-bridge"
    endpoint: "*************-ats.iot.eu-central-1.amazonaws.com"
    key_file: "certs/private.key"
    port: 8883
    protocol: "ssl"
    topic_in: "topic/in"
    topic_out: "topic/out"
udp:
	ip_in: "0.0.0.0"
	ip_out: "255.255.255.255"
	port_in: 5000
	port_out: 6000
